*{
    margin:0;
    padding:0;
}
footer{
    width:100%;
    min-height:150px;
    max-width: var(--width-global);
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    background-color: white;
}
footer > div{
    width:100%;
    max-width: var(--width-global);
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
footer > div > p:nth-child(2){
    width:100%;
    max-width: 500px;
}